{% extends 'base.html' %}

{% block titulo %}
    Educacion Continua
{% endblock titulo %}
    

{% block contenido %}

{% load static %}


<div class="separacion">
  
  <div id = "content">
    <div class="sidenav">
      <!-- lista lateral -->
        
        <!-- lista lateral -->
        <div id="sidebar" class="widget-area col-10 sticky-sidebar" role="complementary">
          
          <aside class="widget">
            <h4 class="widget-title">Contactos</h4>
            <ul>
              <li>
                <a href="https://www.facebook.com/UAZBolsadetrabajo/?locale=es_LA" id="vinface-link">
                  <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24">
                    <rect fill="none" height="24" width="24"/>
                    <path d="M22,12c0-5.52-4.48-10-10-10S2,6.48,2,12c0,4.84,3.44,8.87,8,9.8V15H8v-3h2V9.5C10,7.57,11.57,6,13.5,6H16v3h-2 c-0.55,0-1,0.45-1,1v2h3v3h-3v6.95C18.05,21.45,22,17.19,22,12z"/>
                  </svg>
                  Facebook
                </a>
              </li>
              <li>
                <a href="mailto:certificaperla@gmail.com" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/>
                  </svg>
                  certificaperla@gmail.com
                </a>
              </li>
              <li>
                <a href="mailto:marquezluzma@hotmail.com" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/>
                  </svg>
                  marquezluzma@hotmail.com
                </a>
              </li>
            </ul>
          </aside>
        </div>
    </div>
    <div class="info">
      
      <div class="card mb-3" style="border-radius: .5rem; padding: 20px;">
        <div class="row g-5">
          <div class="col-md-4 gradient-custom text-center text-white"
            style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
            <img src="{% static 'img/user_icon.jpg' %}"
              alt="Avatar" class="img-fluid my-5" style="width: 120px;" />
              <p style="color: black;">M. en C. Perla Evelia goytia Realzola</p>
              <p></p>
            <i class="far fa-edit mb-5"></i>
          </div>
          <div class="col-md-8">
            <div class="card-body p-4">
              <h6>Contacto</h6>
              <hr class="mt-0 mb-4">
              <div class="row pt-1">
                <div class="col-6 mb-3">
                  <h6>Email</h6>
                  <p class="text-muted">certificaperla@gmail.com</p>
                  <p class="text-muted">perlaegr@yahoo.com.mx</p>
                </div>
                <div class="col-6 mb-3">
                  <h6>Telefono</h6>
                  <p class="text-muted">492 544 59 47</p>
                </div>
              </div>
              <h6>Informacion</h6>
              <hr class="mt-0 mb-4">
              <div class="row pt-1">
                <div class="col-6 mb-3">
                  <h6>Cargo</h6>
                  <p class="text-muted">Responsable del registro de eventos de 
                    integracion del catalogo de educacion continua
                  </p>
                </div>
                <div class="col-6 mb-3">
                  <h6>Ubicación</h6>
                  <p class="text-muted">Campus uaz siglo XXI</p>
                </div>
              </div>
              <div class="d-flex justify-content-start">
                <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- fin tarjeta presentacion -->

      <div class="card mb-3" style="border-radius: .5rem; padding: 20px;">
        <div class="row g-5">
          <div class="col-md-4 gradient-custom text-center text-white"
            style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
            <img src="{% static 'img/user_icon.jpg' %}"
              alt="Avatar" class="img-fluid my-5" style="width: 120px;" />
              <p style="color: black;">Luz Ma. Marquez Madrid</p>
              <p></p>
            <i class="far fa-edit mb-5"></i>
          </div>
          <div class="col-md-8">
            <div class="card-body p-4">
              <h6>Contacto</h6>
              <hr class="mt-0 mb-4">
              <div class="row pt-1">
                <div class="col-6 mb-3">
                  <h6>Email</h6>
                  <p class="text-muted">marquezluzma@hotmail.com</p>
                </div>
                <div class="col-6 mb-3">
                  <h6>Telefono</h6>
                  <p class="text-muted">492 869 47 96</p>
                </div>
              </div>
              <h6>Informacion</h6>
              <hr class="mt-0 mb-4">
              <div class="row pt-1">
                <div class="col-6 mb-3">
                  <h6>Cargo</h6>
                  <p class="text-muted">Responsable del Area de Convenios</p>
                </div>
                <div class="col-6 mb-3">
                  <h6>Ubicación</h6>
                  <p class="text-muted">Campus uaz siglo XXI</p>
                </div>
              </div>
              <div class="d-flex justify-content-start">
                <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- fin tarjeta presentacion 2 -->

      <h1>Educacion continua</h1>

      
      
      <div class="videos">
        <style>
          .video-container {
              float: left;
              margin-right: 10px;
          }
        </style>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v18.0" nonce="lYi4BfW9"></script>
        
        <div class="video-container">
            <div class="fb-video" data-href="https://www.facebook.com/watch/?ref=saved&amp;v=141973072332496" data-width="500" data-show-text="false">
                <blockquote cite="https://www.facebook.com/NotiUAZ/videos/141973072332496/" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/NotiUAZ/videos/141973072332496/"></a>
                    <p>Programa de capacitación vinculación. Conoce los servicios de la Coordinación de vinculación UAZ</p>
                    Publicado por <a href="https://www.facebook.com/NotiUAZ">Noti-UAZ</a> en Jueves, 12 de octubre de 2023
                </blockquote>
            </div>
        </div>
        
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v18.0" nonce="jgXpsKIy"></script>
        
        <div class="video-container">
            <div class="fb-video" data-href="https://www.facebook.com/watch/?v=998884654652860&amp;extid=CL-UNK-UNK-UNK-AN_GK0T-GK1C&amp;ref=sharing&amp;mibextid=Nif5oz" data-width="500" data-show-text="false">
                <blockquote cite="https://www.facebook.com/NotiUAZ/videos/998884654652860/" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/NotiUAZ/videos/998884654652860/"></a>
                    <p>Conoce los servicios de la Coordinación de vinculación UAZ https://www.facebook.com/VinculacionUAZ</p>
                    Publicado por <a href="https://www.facebook.com/NotiUAZ">Noti-UAZ</a> en Martes, 26 de septiembre de 2023
                </blockquote>
            </div>
        </div>

      </div>
      <div style="clear: both;"></div>

        <h1>Programa de servicios profesionales de capacitación</h1>
        <h3>Objetivo</h1>
        <p>Proporcionar los criterios para la realización y seguimiento de los eventos académicos que en
          materia de capacitación se ofrecen, a través de los Centros, Programas y Unidades Académicas de
          la Universidad Autónoma de Zacatecas “Francisco García Salinas” (UAZ), para las diversas
          Instituciones en el Estado, bajo sus modalidades de Educación Continua.

        </p>

        <h3>Alcance</h1>
        <p>Aplica como un procedimiento a seguir en la realización de un servicio profesional de
          capacitación, solicitado por instituciones de educación o gubernamentales, en cualquiera de
          las modalidades de Educación Continua. 

        </p>

        <h3>Períodos de atención</h1>
        <p> Los períodos de atención de solicitudes de servicios profesionales de capacitación se 
          llevarán a cabo durante todo el año, a través del Programa de Capacitación de Educación 
          Continua de la Coordinación de Vinculación de la UAZ, según el calendario oficial
          universitario

        </p>

      
        <!-- Lista servicios -->
      <section class="pt-5 pb-5">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h3 class="mb-3">Procedimientos del area de capacitación</h3>
            </div>
          </div>
      
          <div class="row">
            <div class="col-md-4 mb-3">
              <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-between">
                  <h5 class="card-title">Procedimiento para el desarrollo de servicios profesionales de capacitación</h5>
                  <p class="card-text"> </p>
                  <div class="d-flex flex-row">

                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-pdf">Ver pdf</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card h-100">
                  <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title">Consulta de anexos</h5>
                    <p class="card-text"> </p>
                    <div class="d-flex flex-row">
  
                        
                          <a href="https://siiaf-my.sharepoint.com/:f:/g/personal/certificacion_calidad_microsoft_uaz_edu_mx/Elf4KRj_ADJEmbz2wdobFCABUEf8ALUwrcC_Yw0UbhWwsA?e=Vvnd2u" target="_blank" rel="noopener" class="btn btn-secondary">
                            <span style="font-size: 11.5pt; font-family: Roboto;">Consulta &raquo;</span>
                          </a>
                        

                    </div>
                  </div>
                </div>
              </div>

          </div>
        </div>
      </section>

      <div class="modal fade" id="modal-pdf" tabindex="-1" aria-labelledby="modal-pdf-label" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 80%; height: 100%;">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-pdf-label">Procedimiento para el desarrollo de servicios profesionales de capacitación</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <iframe id="pdf-iframe" src="{% static 'docs/1_Firmado _ PD-SAC.05-05 Procedimiento para el desarrollo de servicios profesionales de capacitación.pdf' %}" frameborder="0" style="width: 100%; height: 800;"></iframe>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>


      <h1>Programa de registro de eventos academicos</h1>
      <h3>Objetivo</h1>
        <p>Establecer los criterios para la revisión, registro, dictamen y seguimiento de los eventos 
          académicos que en materia de educación continua y bajo sus diversas modalidades se 
          ofrecen a través de las Unidades Académicas, Programas y Cuerpos Académicos, de la 
          Universidad Autónoma de Zacatecas “Francisco García Salinas” (UAZ), para ser integrados 
          en el catálogo de la oferta permanente de educación continua.

        </p>

        <h3>Alcance</h1>
        <p>Aplica a todas las Unidades Académicas, Programas y Cuerpos Académicos que estén 
          interesados en registrar y ofrecer eventos en cualquiera de las modalidades de Educación 
          Continua (UAZ).

        </p>

        <h3>Períodos de atención</h1>
        <p>  Los períodos de registro se llevarán a cabo durante todo el año, recibiendo las 
          solicitudes en el área de educación continua según el calendario laboral universitario. 

        </p>

        </p>
        <!-- Lista servicios eventos-->
        <section class="pt-5 pb-5">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h3 class="mb-3">Procedimientos del area de registro de eventos</h3>
              </div>
            </div>
        
            <div class="row">
              <div class="col-md-4 mb-3">
                <div class="card h-100">
                  <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title">Procedimiento para el registro de eventos de educación continua</h5>
                    <p class="card-text"> </p>
                    <div class="d-flex flex-row">
  
                      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-pdf2">Ver pdf</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <div class="card h-100">
                  <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title">Consulta de anexos</h5>
                    <p class="card-text"> </p>
                    <div class="d-flex flex-row">
  
                        <a href="https://siiaf-my.sharepoint.com/:f:/g/personal/certificacion_calidad_microsoft_uaz_edu_mx/EtLebV1OWctAoMGuviSudkQBLRtxfsBr-sAtJIukRYZERQ?e=1KPyJa" target="_blank" rel="noopener" class="btn btn-secondary">
                          <span style="font-size: 11.5pt; font-family: Roboto;">Consulta &raquo;</span>
                        </a>
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
        </section>
  
        <div class="modal fade" id="modal-pdf2" tabindex="-1" aria-labelledby="modal-pdf-label" aria-hidden="true">
          <div class="modal-dialog" style="max-width: 80%; height: 100%;">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modal-pdf-label">Procedimiento para el registro de eventos de educación continua</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <iframe id="pdf-iframe" src="{% static 'docs/PD-SAC.05-04 Procedimiento para el registro de eventos de educación continua.pdf' %}" frameborder="0" style="width: 100%; height: 800;"></iframe>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
  <div id="footer"></div>
</div>



<p></p>

  

<div class="b-example-divider"></div>







    
{% endblock contenido %}
