{% extends 'base.html' %}

{% block titulo %}
    Estudios de factibilidad
{% endblock titulo %}
    

{% block contenido %}
{% load static %}



<div class="separacion">
  
  <div id = "content">
    <div class="sidenav">
      <!-- lista lateral -->
      <div id="sidebar" class="widget-area col-10 sticky-sidebar" role="complementary">
        
        <aside class="widget">
          <h4 class="widget-title">Contactos</h4>
          <ul>
            <li>
              <a href="https://www.facebook.com/VinculacionUAZ/" id="vinface-link">
                <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24">
                  <rect fill="none" height="24" width="24"/>
                  <path d="M22,12c0-5.52-4.48-10-10-10S2,6.48,2,12c0,4.84,3.44,8.87,8,9.8V15H8v-3h2V9.5C10,7.57,11.57,6,13.5,6H16v3h-2 c-0.55,0-1,0.45-1,1v2h3v3h-3v6.95C18.05,21.45,22,17.19,22,12z"/>
                </svg>
                Facebook
              </a>
            </li>
            <li>
              <a href="mailto:fortalecimientoydesarrolloregional@uaz.edu.mx" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                  <path d="M0 0h24v24H0z" fill="none"/>
                  <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/>
                </svg>
                egresados@uaz.edu.mx
              </a>
            </li>
          </ul>
        </aside>
      </div>
      <div id="fb-root"></div>
      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v18.0" nonce="kcf9ojht"></script>   
  
      <div class="fb-page" data-href="https://www.facebook.com/NotiUAZ?locale=es_LA" data-tabs="timeline, events" data-width="250" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/NotiUAZ?locale=es_LA" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/NotiUAZ?locale=es_LA">Noti-UAZ</a></blockquote></div>
      
      
      
    </div>
    
    <div class="info">
      <section class="vh-200" style="background-color: #f4f5f7;">
        <div class="card mb-3" style="border-radius: .5rem; padding: 20px;">
          <div class="row g-5">
            <div class="col-md-4 gradient-custom text-center text-white"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img src="{% static 'img/user_icon.jpg' %}"
                alt="Avatar" class="img-fluid my-5" style="width: 120px;" />
                <p style="color: black;">M. en C. Nicolas Lopez Ramirez</p>
                <p></p>
              <i class="far fa-edit mb-5"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Contacto</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted">egresados@uaz.edu.mx</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Telefono</h6>
                    <p class="text-muted">492 583 62 06</p>
                  </div>
                </div>
                <h6>Informacion</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Cargo</h6>
                    <p class="text-muted">Responsable del area de estudios de factibilidad, 
                        pertinencia y egresados</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Ubicación</h6>
                    <p class="text-muted">Campus uaz siglo XXI</p>
                  </div>
                </div>
                <div class="d-flex justify-content-start">
                  <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                  <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                  <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
 
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" 
        src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v18.0" nonce="zZtPvDyh"></script>

        <div class="fb-video" data-href="https://www.facebook.com/watch/?v=1945953335784963&amp;extid=CL-UNK-UNK-UNK-AN_GK0T-GK1C&amp;ref=sharing&amp;mibextid=9R9pXO" 
        data-width="500" data-show-text="false"><blockquote cite="https://www.facebook.com/NotiUAZ/videos/1945953335784963/" 
        class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/NotiUAZ/videos/1945953335784963/"></a>
        <p>Conoce los servicios de la Coordinación de vinculación UAZ</p>Publicado por <a href="https://www.facebook.com/NotiUAZ">Noti-UAZ</a> en Jueves, 28 de septiembre de 2023</blockquote></div>

        <style>
          p {
            text-align: justify;
            text-justify: inter-word;
          }
        </style>
      <h1>Objetivo</h1>
      <p>Elaboracion de estudios de factibiidad, pertinencia y egresados solicitados por las unidades academicas
        que les permita atender los requerimientos de indicadores que las instancias evaluadoras exigen
        para los procesos de acreditacion, reeacreditacion o apertura de nuevos programas academicos
      </p>

      <h1>Mision</h1>
      <p>
        El área de Estudios de factibilidad, pertinencia y seguimiento de egresados, somos un equipo
        profesional multidisciplinario de la Coordinación de Vinculación que aspiramos a ser un referente
        en la elaboración, revisión, validación de estudios así como la obtención de indicadores para la
        acreditación, reacreditación, creación de nuevos programas propuestos por las unidades
        académicas y seguimiento de egresados con la finalidad de lograr mayor incidencia en el desarrollo
        económico y social del estado de Zacatecas
      </p>
      
      <!-- Lista servicios -->
      <section class="pt-5 pb-5">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h3 class="mb-3">Procedimientos del departamento de estudios de factibiidad y pertinencia</h3>
            </div>
          </div>
      
          <div class="row">
            <div class="col-md-4 mb-3">
              <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-between">
                  <h5 class="card-title">Procedimiento estudios factibilidad y pertinencia</h5>
                  <p class="card-text"> </p>
                  <div class="d-flex flex-row">

                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-pdf">Ver pdf</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">Procedimiento para el programa institucional de seguimiento de egresados</h5>
                  <p class="card-text"> </p>

                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-pdf2">Ver pdf</button>
                    
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="modal fade" id="modal-pdf" tabindex="-1" aria-labelledby="modal-pdf-label" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 80%; height: 100%;">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-pdf-label">PROCEDIMIENTO ESTUDIOS DE FACTIBILIDAD Y PERTINENCIA EDUCATIVA</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <iframe id="pdf-iframe" src="{% static 'docs/PD-SAC.05-02 PROCEDIMIENTO ESTUDIOS DE FACTIBILIDAD Y PERTINENCIA EDUCATIVA.pdf' %}" frameborder="0" style="width: 100%; height: 800;"></iframe>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="modal-pdf2" tabindex="-1" aria-labelledby="modal-pdf-label" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 80%; height: 100%;">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-pdf-label">PROCEDIMIENTO PARA EL PROGRAMA INSTITUCIONAL DE SEGUIMIENTO DE EGRESADOS</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <iframe id="pdf-iframe" src="{% static 'docs/PD-SAC.05-01 PROCEDIMIENTO PARA EL PROGRAMA INSTITUCIONAL DE SEGUIMIENTO DE EGRESADOS.pdf' %}" frameborder="0" style="width: 100%; height: 800;"></iframe>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="modal-pdf3" tabindex="-1" aria-labelledby="modal-pdf-label" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 80%; height: 100%;">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-pdf-label">Mision del departamento de estudios de factibilidad</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <iframe id="pdf-iframe" src="{% static 'docs/MISIÓN DEL EQUIPO DE ESTUDIOS.pdf' %}" frameborder="0" style="width: 100%; height: 800;"></iframe>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer"></div>
</div>




<p></p>

  
<div class="container marketing">

  


  
</div><!-- /.container -->
<div class="b-example-divider"></div>





    
    
{% endblock contenido %}



