{% extends 'base.html' %}

{% block titulo %}
    eb
{% endblock titulo %}
    

{% block contenido %}


<h1>estudios</h1>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" 
src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v18.0" nonce="zZtPvDyh"></script>

<div class="fb-video" data-href="https://www.facebook.com/watch/?v=1945953335784963&amp;extid=CL-UNK-UNK-UNK-AN_GK0T-GK1C&amp;ref=sharing&amp;mibextid=9R9pXO" 
data-width="500" data-show-text="false"><blockquote cite="https://www.facebook.com/NotiUAZ/videos/1945953335784963/" 
class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/NotiUAZ/videos/1945953335784963/"></a>
<p>Conoce los servicios de la Coordinación de vinculación UAZ</p>Publicado por <a href="https://www.facebook.com/NotiUAZ">Noti-UAZ</a> en Jueves, 28 de septiembre de 2023</blockquote></div>

    
{% endblock contenido %}
